
h1 {
  text-align: center;
  font-size: 3em;
  color: brown;
}

#title {
  margin-top: 50px;
}

#slide {
  width: 650px;
  position: relative;
  margin: 0 auto; 
}

#pic_show img {
  float: left;
  width: 100%;
  position: absolute;
}

#pic_show button {
  color: black;
  font-size: 1.5em;
  font-weight: 600;
  height: 45vh;
  position: absolute;
  background-color: transparent;
  opacity: 0.5;
  border: none;
  padding: 5px;
  width: 40px;
}

#prev {
  left: 0;
}

#next {
  right: 0;
}

#pic_show button:hover {
  background-color: black;
  opacity: 0.5;
  color: #ffff;
  cursor: pointer;
}

#pic_show button:focus {
  outline: none;
}



