body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  background: #5d4037;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.fa-accusoft {
  color: #ffab91;
  font-size: 1.5rem;
  padding-left: 0.5em;
}

.nbtitle {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #f5f5f5;
}

.nblist ul {
  display: flex;
  list-style: none;
  text-align: center;
}

.nblist ul li {
  padding-right: 4em;
  font-family: 'Source Sans Pro', sans-serif;
}

.nblink ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  position: relative;
  right: 5rem;
}

.nblink ul li {
  font-size: 1rem;
  padding: 1em;
  color: #34515e 
}

.fa-bars {
  display: block;
  padding-right: 1em;
  position: absolute;
  right: 0; top: 0;
  margin-top: 35px;
}

